/* @media only screen and (max-width: 1100px) {
  .login_pannel .card {
    width: 95vw !important;
    margin-left: -10px !important;
    margin-top: 16px !important;
}
}
@media only screen and (max-width: 600px) {
.nav-link: 
}
@media only screen and (max-width: 600px) {
.logo_pic img {
    width: 15px !important;
}
}
@media only screen and (max-width: 600px) {
.fa-person-rifle:before, .fa-file:before, .fa-calendar-days:before {
    font-size: 0px;
}
}
@media (min-width: 1200px) {
  .bslib-value-box .value-box-value {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size:1rem
  }
} */
